[Unit]
Conflicts=getty@tty1.service
After=weston.service HomeScreen.service

# map viewr is a child application which can work with navigation.
# This app requires mapdata. It has to be stored at /var/mapdata/navi_data_UK .
# currently the position to be shown is 384x368 surface on screen 1 for CES2017 cluster demo.

[Service]
Environment=NAVI_DATA_DIR=/var/mapdata/navi_data_UK/japan_TR9 XDG_RUNTIME_DIR=/run/user/0
ExecStartPre=/bin/sleep 5
ExecStart=/usr/bin/mapview
ExecStartPost=/usr/bin/LayerManagerControl create layer 11001 1920 1080
ExecStartPost=/usr/bin/LayerManagerControl set layer 11001 visibility 1
ExecStartPost=/usr/bin/LayerManagerControl set screen 1 render order 11001
ExecStartPost=/usr/AGL/mapviewer/mapviewer-settings.sh

ExecStop=/usr/bin/killall -s KILL mapview
Type=simple
Restart=always

[Install]
WantedBy=default.target
