[Unit]
Description=HTML5 runtime for OpenIVI Mobility applications
Requires=afm-user-daemon.service InputEventManager.service
After=afm-user-daemon.service InputEventManager.service
ConditionKernelCommandLine=!agl.nogfx

[Service]
Type=dbus
BusName=org.agl.openivi
ExecStart=/usr/bin/openivi-html5.sh
Restart=on-failure
RestartSec=5
TimeoutStopSec=1

[Install]
WantedBy=default.target
