<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="poi" version="0.1">
  <name>POI</name>
  <icon src="poi.png"/>
  <content src="poi" type="application/x-executable"/>
  <description>POI App</description>
  <author>AISIN AW</author>
  <feature name="urn:AGL:required-permission">
    <param name="http://tizen.org/privilege/internal/dbus" value="required" />
  </feature>
  <license>GPL</license>
</widget>
