# AudioManager systemd service file

[Unit]
Description=GENIVI AudioManager
Requires=dbus.service
After=dbus.service
Before=pulseaudio.service

[Service]
Type=notify
ExecStart=/usr/bin/AudioManager -T
Restart=always
TimeoutSec=2
WatchdogSec=2

[Install]
WantedBy=multi-user.target
